
          
          <div class="card mb-3">
              <div class="card-header"><p>User Roles   &nbsp; <button type="button" [routerLink]="['/userNewRole']"class="btn btn-success  btn-sm">New &nbsp;<i class="fa fa-plus-square"></i></button></p>
              </div>  
              <div class="card-body table-responsive">
                
                  <div class="row">
                    <div class="container">
                      <div class="row">
                        <div class = "col-md-9">
                      <h1>
                        <b>All User Status</b>
                      </h1>
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4" style="color:red"><b>Choose Role for users</b></label>
                        <select class="form-control" #roleValue  (change)="getRoleName(roleValue.value)">
                            <option *ngFor= "let data of userRole"   >{{data.roleName}}</option>
                            </select>
                    </div>
                    </div>
                      <hr />
                      <!-- <p>Your role is: <strong>{{currentUser.role}}</strong>.</p> -->
                      <br />
                      <table #dataTable class="table table-striped table-hover table-bordered" id="mytable">
                        <caption>
                          <b>View User Details</b>
                        </caption>
                        <thead>
                          <tr>
                            <th style="text-align: center;" scope="col">Role ID</th>
                            <th  style="text-align: center;" scope="col">Role Name</th>
                            <th  style="text-align: center;" scope="col">Description</th>
                            <th  style="text-align: center;" scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
                  
                          <tr *ngFor="let data of userRole ">
                  
                            <td style="text-align: center;">{{ data.roleID}}</td>
                            <td style="text-align: center;">{{ data.roleName}}</td>
                            <td style="text-align: center;">{{ data.description}}</td>
                            <td style="text-align: center;"><button type="button" (click)="routePage(data)" class= "btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button> &nbsp;
                              <button type="button" (click)="deleteRecord(data)" class= "btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                          
                            </tr>
                  
                          
                        </tbody>
                      </table>

                        </div>
                  </div>
              </div>
          </div>