<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
      <div class="col-md-6">
          <img class="user-avatar" src="assets/images/logo.png" width="100px" />
          <h1>Member Registration</h1>
          <form [formGroup]="memberGroup" (ngSubmit)="onSubmit()">
              <div class="form-content">
                  <div class="row">
                      <div class="col-md-6">
                              <div class="form-group">
                                      <input type="text" class="form-control input-underline input-lg " (input) ="setInactive()" formControlName ="firstName"  placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                              <div *ngIf="f.firstName.errors.required" class="input-lg"><b>Firstname is required</b></div>
                                                 
                                      </div>      <div class="input-lg" *ngIf = "active" ><b>{{errorValue}}</b></div>
                                         
                                  </div>
                              </div>
                                  <div class="col-md-6">
                                          <div class="form-group">
                                                  <input type="text" class="form-control input-underline input-lg " formControlName ="username"  placeholder="User Name" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                                          <div *ngIf="f.username.errors.required" class="input-lg"><b>User Name is required</b></div>
                                                      </div>   </div>
                      </div>
                  </div>
                  <div class="row">
                          <div class="col-md-6">
                                  <div class="form-group">
                                          <input type="password" class="form-control input-underline input-lg" formControlName="password" id="" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                  <div *ngIf="f.password.errors.required" class="input-lg">Password is required</div>
                                                  <div *ngIf="f.password.errors.minlength" class="input-lg">Password must be at least 6 characters</div>
                                              </div>
                                     
                                      </div>
                                  </div>
                                      <div class="col-md-6">
                                              <div class="form-group">
                                                      <input type="password" class="form-control input-underline input-lg" formControlName="confirmPassword" id="" placeholder="Rewrite password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" >
                                                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                                              <div *ngIf="f.confirmPassword.errors.required" class="input-lg">Confirm Password is required</div>
                                                              <div *ngIf="f.confirmPassword.errors.mustMatch" class="input-lg">Passwords must match</div>
                                                          </div>
                                                  </div>
                          </div>
                      </div>



                      <div class="row">
                          <div class="col-md-12">
                                  <div class="form-group">
                                          <input type="email" class="form-control input-underline input-lg" formControlName = "email" placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                   <div *ngIf="f.email.errors.required" class="input-lg">Emailname is required</div>
                                                           <div *ngIf="f.email.errors.email" class="input-lg">Email must be a valid email address</div>
                </div>
                                      </div>
                          </div>
                      
                      </div>
                      
              
                 
                  
             
              </div>
              <div style="color: red;" class="input-lg"><b>{{error}}</b></div>
              <button type="submit" class= "btn rounded-btn">Register</button>&nbsp;&nbsp;
              <button type="button" routerLink ='/login' class= "btn rounded-btn">Login</button>
              <!-- <a class="btn rounded-btn"  [routerLink]="['/dashboard']">{{ 'Register' | translate }}</a>&nbsp; -->
              <!-- <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a> -->
          </form>
      </div>
  </div> 
</div>

