
<div class="container">
  <h2  *ngIf="postComment!==undefined" class="text-center" ><b>New  Comments</b></h2>
	<table #dataTable id="mytable" *ngIf="postComment!==undefined ">
    <thead>
      <tr *ngFor=" let post of postComment">
	<div class="card">
	    <div class="card-body">
	        <div class="row">
        	    <div class="col-md-3">
        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        	        <p class="text-secondary text-center">{{post.currentDate | date}} {{post.currentTime}}</p>
        	    </div>
        	    <div class="col-md-9">
        	        <p>
        	            <a class="float-left" style="color:thistle"><strong>{{post.currentUser}} : {{post.email}} </strong></a>
                       

                   </p>
                   <ngx-star-rating  [(ngModel)]="post.rating" [id]="'rating1'" [disabled] ="true"></ngx-star-rating>
        	       <div class="clearfix"></div>
        	        <p>{{post.commentTxt}}</p>
        	       
        	    </div>
	        </div>
	        
	    </div>
  </div>
</tr>
</thead>
</table>

<hr/>

<h2 class="text-center" *ngIf="commentData?.length>0"><b>Old  Comments</b></h2>
<div class="row">
    <label for="staticEmail" class=" col-form-label"><b>Rate <i class="fa fa-star" aria-hidden="true"></i></b></label>
    <div class="col-md-4">
    <select class="form-control" #rateValue  (change)="loadData(rateValue.value)">
        <option de>{{data}}</option>
        <option *ngFor= "let data of [1,2,3,4,5]">{{data}}</option>
        </select>
        </div>
</div>
    <br>
<table #dataTable id="mytable">
  <thead>
    <tr *ngFor=" let post of commentData">
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" width="100" height="100" class="img img-rounded img-fluid"/>
                <p class="text-secondary text-center">{{post.createDate | date}} {{post.createdTime}}</p>
            </div>
            <div class="col-md-9">
          
                <ngx-star-rating  [(ngModel)]="post.rating" [id]="'rating2'" [disabled] ="true"></ngx-star-rating>
                <p>
                    <a class="float-left" style="color:thistle"><strong>{{post.firstName}}</strong></a>
                   

               </p>
               <div class="clearfix"></div>
                <p>{{post.comment}}</p>
               
            </div>
        </div>
        
    </div>
</div>
</tr>
</thead>
</table>

</div>

