     <div class="card mb-3">
              <div class="card-header"><p><b>Membership</b>&nbsp; <button type="button" class="btn btn-success  btn-sm" [routerLink]="['/new_cus']">New &nbsp;<i class="fa fa-plus-square"></i></button></p>
              </div>  
              <div class="card-body table-responsive">              
                  <div class="row">
                    <div class="container">
                    <div class="row">
                        <div class = "col-md-9">
                      <h1>
                        <b>All Membership Status</b>
                      </h1>
                    </div>
                    </div>
                      <hr/>
                      <div class="form-group form-inline">
                        <div class="col-auto">
                          <label class="sr-only" for="inlineFormInputGroup">Username</label>
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input class="form-control" type="text" name="searchText"
                            placeholder="Search...." [(ngModel)]="searchText" />   </div>
                        </div>
                    </div><br/>

                      <table class="table table-striped table-hover table-bordered" id="mytable">
                        <caption>
                          <b>View Membership Details</b>
                        </caption>
                        <thead>
                          <tr>
                            <th style="text-align: center;" scope="col"> ID</th>
                            <th  style="text-align: center;" scope="col"> Owner</th>
                            <th  style="text-align: center;" scope="col"> Type</th>
                            <th  style="text-align: center;" scope="col">Valid Period</th>
                            <th  style="text-align: center;" scope="col">Email</th>
                            <th  style="text-align: center;" scope="col">Contact No</th>
                            <th  style="text-align: center;" scope="col">Status</th>
                            <th  style="text-align: center;" scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>                 
                          <tr *ngFor= "let data of cusData | filter:searchText| paginate: { itemsPerPage: 5, currentPage: p }">                
                            <td style="text-align: center;">{{data.membershipId}} </td>
                            <td style="text-align: center;">{{data.firstName}}</td>
                            <td style="text-align: center;">{{data.typeName}}</td>
                            <td style="text-align: center;">{{data.endDate | date }}</td>
                            <td style="text-align: center;">{{data.email}} </td>
                            <td style="text-align: center;">{{data.phonenumber}} </td>
                            <td style="text-align: center; color: green;" *ngIf="data.status == 'true'" ><b><i class="fa fa-check" aria-hidden="true"  ngbTooltip="Membership active" ></i></b></td>
                            <td style="text-align: center; color: red;" *ngIf="data.status =='false'"><b><i class="fa fa-exclamation" aria-hidden="true"  ngbTooltip="Membership inactive"></i></b></td>
                            <td><button type="button" (click)="routePage(data)" class= "btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true" ></i></button> &nbsp;
                            <button type="button" [disabled]="(data.status != 'true' ?true: false)" (click)="inactiveMembership(data)" class= "btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>                     
                            </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event"  style="float:right;"></pagination-controls>
                        </div>
                  </div>
              </div>
          </div>