     
         <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" style="color: red;" id="modal-basic-title"><b>Mention the inactive reason <i class="fa fa-question" aria-hidden="true"></i>
            </b></h4>
            <button type="button" class="close" aria-label="Close"  #closebutton (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="rejectedForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputquantity4"><b>Reason for inactive the membership</b></label>
                  <textarea type="text" class="form-control"  formControlName="rejectedReason"    [ngClass]="{ 'is-invalid': submitted && f.rejectedReason.errors }"></textarea>
                  <div *ngIf="submitted && f.rejectedReason.errors" class="invalid-feedback">
                    <div *ngIf="f.rejectedReason.errors.required">Reason is required</div>
                  </div>
                </div>
          
               
              </div>
              <button type="submit" class="btn btn-danger"> Submit <i class="fa fa-book" aria-hidden="true"></i></button>
              </form>
            </div>


        </ng-template>
     <div class="card mb-3">
              <div class="card-header"><p><b>Membership</b>&nbsp; <button type="button" class="btn btn-success  btn-sm" [routerLink]="['/new_cus']">New &nbsp;<i class="fa fa-plus-square"></i></button></p>
              </div>  
              <div class="card-body table-responsive">              
                  <div class="row">
                    <div class="container">
                    <div class="row">
                        <div class = "col-md-9">
                      <h1>
                        <b><i class="fa fa-users" aria-hidden="true"></i> All Membership Status</b>
                      </h1>
                    </div>
                    </div>
                      <hr/>
                      <div class="form-group form-inline">
                        <div class="col-auto">
                          <label class="sr-only" for="inlineFormInputGroup">Username</label>
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input class="form-control" type="text" name="searchText"
                            placeholder="Search...." [(ngModel)]="searchText" />   </div>
                        </div>
                    </div><br/>

                      <table class="table table-striped table-hover table-bordered" id="mytable">
                        <caption>
                          <b>View Membership Details</b>
                        </caption>
                        <thead>
                          <tr>
                            <th style="text-align: center;" scope="col"> ID</th>
                            <th  style="text-align: center;" scope="col"> Owner</th>
                            <th  style="text-align: center;" scope="col"> Type</th>
                            <th  style="text-align: center;" scope="col">Valid Period</th>
                            <th  style="text-align: center;" scope="col">Email</th>
                            <th  style="text-align: center;" scope="col">Contact No</th>
                            <th  style="text-align: center;" scope="col">Status</th>
                            <th  style="text-align: center;" scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>                 
                          <tr *ngFor= "let data of cusData | filter:searchText| paginate: { itemsPerPage: 5, currentPage: p }">                
                            <td style="text-align: center;">{{data.membershipId}} </td>
                            <td style="text-align: center;">{{data.firstName}}</td>
                            <td style="text-align: center;">{{data.typeName}}</td>
                            <td style="text-align: center;">{{data.endDate | date }}</td>
                            <td style="text-align: center;">{{data.email}} </td>
                            <td style="text-align: center;">{{data.phonenumber}} </td>
                            <!-- <td style="text-align: center; color: green;" *ngIf="data.status == 'true'" >
                              <b><i class="fa fa-check" aria-hidden="true"  ngbTooltip="Membership active" ></i></b></td> -->
                            <td style="text-align: center;" [ngStyle]="{'color': checkStatus(data)?.color }" *ngIf="checkStatus(data)" ><b><i [class]="checkStatus(data).icon" aria-hidden="true"  [ngbTooltip]="checkStatus(data)?.message" ></i></b></td>
                            <!-- <td style="text-align: center; color: red;" *ngIf="data.status =='false'"><b><i class="fa fa-user-times" aria-hidden="true"  ngbTooltip="Membership inactive"></i></b></td> -->
                            <td><button type="button" (click)="routePage(data)" class= "btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true" ></i></button> &nbsp;
                              <button type="button" [disabled]="(data.status != '5' ?true: false)"   (click)="inactiveMembership(data , content)" class= "btn btn-danger btn-sm"><i class="fa fa-user-times" [ngbTooltip]="(data.status != '5'?'already inactive': 'Inactive')" aria-hidden="true"></i></button></td>                     
                            </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event"  style="float:right;"></pagination-controls>
                        </div>
                  </div>
              </div>
          </div>