<div class="card mb-8">
  <div class="card-body table-responsive">
    <div class="col-md-12">
      <div class="card bg-light mb-2">
        <div class="card-header">
          <h2><b>New Schedule</b></h2>
        </div>
        <div class="card-body">
          <form [formGroup]="ScheduleMakeGroup" (ngSubmit)="onSubmit()">

            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="userID"><b>Schedule Id</b></label>
                <input type="text" class="form-control inputClass" formControlName="id"  [readonly]="true">
              </div>
              <div class="form-group col-md-3">
                <label for="email"><b>Schedule Type</b></label>
                <input type="email" class="form-control inputClass"  [readonly]="true" formControlName="type">
              </div>
              <div class="form-group col-md-3">
                <label for="email"><b>Membership Id</b></label>
                <input type="text" class="form-control inputClass"  [readonly]="true" formControlName="membershipId">
              </div>
              <div class="form-group col-md-3">
                <label for="email"><b>Date</b></label>
                <input type="text" class="form-control inputClass"  [readonly]="true" formControlName="date">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="userID"><b>Member Name</b></label>
                <input type="text" class="form-control inputClass" formControlName="memberName"  [readonly]="true">
              </div>
              <div class="form-group col-md-3">
                <label for="userID"><b>Height</b></label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><b>Inch:</b></div>
                  </div>
                  <input type="text" class="form-control"  [readonly]="true" id="inlineFormInputGroup" formControlName="height">
                </div>
              </div>

              <div class="form-group col-md-3">
                <label for="userID"><b>Weight</b></label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><b>Kg:</b></div>
                  </div>
                  <input type="text" class="form-control"  [readonly]="true" id="inlineFormInputGroup" formControlName="weight">
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="userID"><b>Gender</b></label>
                <input type="text" class="form-control inputClass" formControlName="gender"  [readonly]="true">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="userID"><b>Instructor Name</b></label>
                <input type="text" class="form-control inputClass" formControlName="instructorName"  [readonly]="true">
              </div>
              <div class="form-group col-md-3">
                <label for="userID"><b>Instructor Contact</b></label>
                <input type="text" class="form-control"  [readonly]="true" id="contact" formControlName="height">
              </div>
              <div class="form-group col-md-3">
                <label for="userID"><b>Name of the Schedule</b></label>
                <input type="text" class="form-control"  [readonly]="true" id="nameOfSchedule" formControlName="height">
              </div>
              <div class="form-group col-md-3">
                <label for="userID"><b>Schedule end</b></label>
                <input type="text" class="form-control"  [readonly]="true" id="scend" formControlName="height">
              </div>
            </div>

            <div class="form-row">


            </div>
           
                <hr>
                <div class="card-header">
                  <div class="form-row">
                    <h4><b>Arrange Schedule</b></h4>&nbsp;&nbsp;&nbsp;  
                    <button type="button" (click)="normalSchduleBoard()" class="btn btn-success"><i class="fa fa-plus"
                      aria-hidden="true"></i></button>
                  </div>
                 
                </div>
                <hr>
            
            <div class="">
              <div class="card-header" *ngIf="Display">
                <ngb-tabset>
                  <ngb-tab title="Monday">
                    <ng-template ngbTabContent>
                      <br />
                      <div class="form-row">
                        <div class="form-group col-6">
                        <button type="button" class="btn btn-primary" (click)="onClickTickets($event)"><b>Add rows</b>&nbsp;<i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="onClickRemove($event)"><b>Remove rows</b>&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></button>                     
                      </div>
                      </div>
                  
                      <div *ngFor="let ticket of t.controls; let i = index">
                        <div [formGroup]="ticket">
                          <div class="form-row">
                            <div class="form-group col-3">
                              <label>Exersice Name</label>
                              <input type="text" formControlName="name" class="form-control" placeholder="Leg Press"
                                [ngClass]="{ 'is-invalid': submitted && ticket.controls.name.errors }" />
                              <div *ngIf="submitted && ticket.controls.name.errors" class="invalid-feedback">
                                <div *ngIf="ticket.controls.name.errors.required">Exersice Name is required</div>
                              </div>
                            </div>
                            <div class="form-group col-3">
                              <label>Reps</label>
                              <input type="text" formControlName="title"  numbersOnly placeholder="2"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && ticket.controls.title.errors }" />
                              <div *ngIf="submitted && ticket.controls.title.errors" class="invalid-feedback">
                                <div *ngIf="ticket.controls.title.errors.required">Reps is required</div>

                              </div>
                            </div>
                          
                            <div class="form-group col-3">
                              <label>Sets</label>
                              <input type="text" formControlName="empType" numbersOnly placeholder="Ex:Full Time"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && ticket.controls.empType.errors }" />
                              <div *ngIf="submitted && ticket.controls.empType.errors" class="invalid-feedback">
                                <div *ngIf="ticket.controls.empType.errors.required">Sets  is required</div>
                              </div>
                            
                            </div>
                            <div class="form-group col-3">
                              <label>Action</label>
                              <button type="button" class="btn btn-danger" (click)="onClickRemove(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>                     
                
                            </div>
                          </div>
                        </div>
                      </div>


                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Tuesday</b></ng-template>
                    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                      single-origin coffee squid.
                      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                        loko farm-to-table
                        craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                        ullamco ad vinyl
                        cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                        helvetica VHS salvia
                        yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                        sustainable jean
                        shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                        tumblr butcher vero
                        sint qui sapiente accusamus tattooed echo park.</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Tuesday</b></ng-template>
                    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                      single-origin coffee squid.
                      dasd
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Wednesday</b></ng-template>
                    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                      single-origin coffee squid.
                      sada
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Thursday</b></ng-template>
                    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                      single-origin coffee squid.
                      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                        loko farm-to-table
                        craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                        ullamco ad vinyl
                        cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                        helvetica VHS salvia
                        yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                        sustainable jean
                        shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                        tumblr butcher vero
                        sint qui sapiente accusamus tattooed echo park.</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Friday</b></ng-template>
                    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                      single-origin coffee squid.
                      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                        loko farm-to-table
                        craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                        ullamco ad vinyl
                        cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                        helvetica VHS salvia
                        yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                        sustainable jean
                        shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                        tumblr butcher vero
                        sint qui sapiente accusamus tattooed echo park.</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Satarday</b></ng-template>
                    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                      single-origin coffee squid.
                      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                        loko farm-to-table
                        craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                        ullamco ad vinyl
                        cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                        helvetica VHS salvia
                        yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                        sustainable jean
                        shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                        tumblr butcher vero
                        sint qui sapiente accusamus tattooed echo park.</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Sunday</b></ng-template>
                    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                      single-origin coffee squid.
                      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                        loko farm-to-table
                        craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                        ullamco ad vinyl
                        cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                        helvetica VHS salvia
                        yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                        sustainable jean
                        shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                        tumblr butcher vero
                        sint qui sapiente accusamus tattooed echo park.</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Disabled" [disabled]="true">
                    <ng-template ngbTabContent>
                      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
                        Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus
                        eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar
                        arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat
                        neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod
                        facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis
                        parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in
                        eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>













            <br /><br />
            <button type="submit" class="btn btn-primary">Submit <i class="fa fa-book" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>



  </div>
</div>