<!-- 
  <div class="card-body table-responsive">
    <div class="card-header alignment">
     <h2><b><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>My Schedule Plan</b></h2>
    </div>
    <br>
    <div class="col">
      <div class="form-row">
      <div class="form-group col-md-3">
        <label for="userID"><b>Instructor Name: {{displayData.instructorName}} </b></label>
        </div>
          <div class="form-group col-md-3">
            <label for="userID"><b>Instructor Contact Number: {{displayData.contact}}</b></label>
            </div>
    </div>
<hr/>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col-md-4">Exercise Name</th>
      <th scope="col-md-4">Reps</th>
      <th scope="col-md-4">Sets</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let data of tableData">
      <td  >{{data.b_name}}</td>
      <td >{{data.b_title}}</td>
      <td>{{data.b_empType}}</td>
    </tr>
  </tbody>
</table>
  </div> 
  </div>
 -->
 <div class="card-body table-responsive" #pdfTable>
  <div class="card-header alignment">
    <h2><b><i class="fa fa-trophy" aria-hidden="true"></i>My Schedule Plan</b></h2>
   </div>
   <br/>
   <div class="container-fluid" *ngFor="let data of displayData">
      <div class="row ">
      <div class="col-sm">
       <b><label>Instructor Name :</label></b>
       {{data.instructorName}}
      </div>
      <div class="col-sm">
        <b><label>Instructor Contact :</label></b>
        0{{data.contact}}
      </div>
      <div class="col-sm">
        <b><label>Membership Id :</label></b>
        {{data.membershipId}}
      </div>
    </div>

    <div class="row ">
      <div class="col-sm">
       <b><label>Shcedule Id :</label></b>
       {{data.ScheduleId}}
      </div>
      <div class="col-sm">
        <b><label>Shcedule Name :</label></b>
        {{data.nameOfSchedule}}
      </div>
      <div class="col-sm">
        <b><label>Created Date :</label></b>
        2019-12-05
      </div>
    </div>

    <div class="row ">
      <div class="col-sm">
        <b><label>End Date :</label></b>
        2018/07/07
      </div>

  
      <div class="col-sm">
        <b><label>Birthday :</label></b>
        1995/2/3
      </div>

    </div>
   </div>
<hr/>
<div class="card-header alignment">
  <h2><b><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>Exercises</b></h2>
 </div>
<br/>
 <table class="table table-dark" *ngIf="!tabDisplayTable">
  <thead>
    <tr>
      <th   scope="col">Exercise Name</th>
      <th   scope="col">Sets</th>
      <th   scope="col">Rounds</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableData">
<td >{{data.normalExerciseName}}</td>
<td >{{data.normalExerciseRepetition}}</td>
<td >{{data.normalExerciseRounds}}</td>
    </tr>
 </table>
 <div *ngIf="tabDisplayTable">
 
  <ngb-tabset>
    <ngb-tab *ngFor="let tabsValues of tableDataDisplayArray; let i = index">
    <ng-template ngbTabTitle ><b>Day-{{i+1}}</b></ng-template>
  <ng-template ngbTabContent>
    <br>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th  scope="col">Exercise Name</th>
          <th   scope="col">Repetitions</th>
          <th   scope="col">Rounds</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let dataValue of tabsValues">
    <td >{{dataValue.normalExerciseName}}</td>
    <td >{{dataValue.normalExerciseRepetition}}</td>
    <td >{{dataValue.normalExerciseRounds}}</td>
        </tr>
     </table>
    </ng-template>
    </ngb-tab>
 </ngb-tabset>
</div>
 <!-- <accordion>
  <accordion-group heading="Group without isOpenChange event listener">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Group with isOpenChange event listener" (isOpenChange)="log($event)">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Group with isOpenChange event listener" (isOpenChange)="log($event)">
    <p>Some content</p>
  </accordion-group>
</accordion> -->

 </div>

 <button type="button" class="btn btn-primary btn-sm" (click)="downloadAsPDF()">Export as PDF</button>


