<div class="card mb-12">
  <div class="card-header">
    <p><b>New Membership</b> &nbsp;
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"><b>New Membership type</b></h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form [formGroup]="membershipGroup" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="group-gap">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputquantity4">Membership type Id*</label>
                <input type="text" class="form-control" formControlName="membership_type_id" disabled >

              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Type Name</label>
                <input type="text" class="form-control"   id="inlineFormInputGroup"  placeholder="Type Name" formControlName="typeName"
                [ngClass]="{ 'is-invalid': submitted && f.typeName.errors }">
                <div *ngIf="submitted && f.typeName.errors" class="invalid-feedback">
                  <div *ngIf="f.typeName.errors.required">Type Name is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputPassword4">Years</label>
                <select class="form-control"  formControlName="years"
                  [ngClass]="{ 'is-invalid': submitted && f.years.errors }">
                  <option selected>Choose...</option>
                  <option *ngFor="let data of yearArray">{{data}} Years</option>
                </select>
                <div *ngIf="submitted && f.years.errors" class="invalid-feedback">
                  <div *ngIf="f.years.errors.required">Years is required</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Month</label>
                <select class="form-control"  formControlName="month"
                  [ngClass]="{ 'is-invalid': submitted && f.month.errors }">
                  <option selected>Choose...</option>
                  <option *ngFor="let data of mounthArray">{{data}} Month</option>
                </select>
                <div *ngIf="submitted && f.month.errors" class="invalid-feedback">
                  <div *ngIf="f.month.errors.required">Mounth is required</div>
                </div>
</div>





            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputPassword4">Amount</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><b>Rs:</b></div>
                  </div>
                  <input type="text" class="form-control"   id="inlineFormInputGroup"  placeholder="00.00" formControlName="amount"
                   [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                
               
                <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                  <div *ngIf="f.amount.errors.required">Amount Price is required</div>
                </div>
              </div>
              </div>
              <div class="form-group col-md-6">

                <label for="exampleForsubControlTextarea1">Note</label>
                <textarea class="form-control" placeholder="Note" formControlName="note"
                  rows="3"></textarea>
              </div>
            </div>

            <div class="form-row">
             
                <div class="form-group col-md-6">             
            </div>
</div>
            <!-- 2nd Row -->

             
            <div class="form-row">
               
            </div>
            </div>
</div>

            <button type="submit" class="btn btn-primary">Submit<i class="fa fa-book" aria-hidden="true"></i></button>
          </form>
        </div>

      
      </ng-template>
      <button type="button" class="btn btn-primary btn-sm" (click)="open(content)"><b>New</b></button>


      <!-- TableDetails -->
  </div>

  <div class="card-body table-responsive">
    <table class="table table-hover table-striped">
      <thead>

        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <h2>
                  <b>All Membership Type Status</b>

                </h2>
              </div>

             
            </div>

            <hr />
            <!-- <p>Your role is: <strong>{{currentUser.role}}</strong>.</p> -->
            <br />


            <table #dataTable class="table table-striped table-hover table-bordered table-sm" id="mytable">
              <caption>
                <b>View Items Details</b>
              </caption>
              <thead>
                <tr>
                  <th style="text-align: center;" scope="col">Membership type ID</th>
                  <th style="text-align: center;" scope="col">Type Name</th>
                  <th style="text-align: center;" scope="col">Amount</th>
                  <th style="text-align: center;" scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->

                <tr *ngFor="let data of  values">

                  <td style="text-align: center;">{{data.membership_type_id}}</td>
                  <td style="text-align: center;">{{ data.typeName}}</td>
                  <td style="text-align: center;">{{data.amount}}</td>
                  <td style="text-align: center;"><button type="button" class="btn btn-primary btn-sm"><i
                        class="fa fa-pencil" aria-hidden="true"></i></button> &nbsp;
                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"
                        aria-hidden="true"></i></button></td>

                </tr>


              </tbody>
            </table>
          </div>