
<div class="card mb-12">
  <div class="card-header">
    </div>                  
<div class="card-body table-responsive">
    <table class="table table-hover table-striped">
      <thead>                  
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <h2 *ngIf="currentUserSubject.value.role !='Admin'">
                  <b>My DietPlans Status</b>                  
                </h2>
                <h2 *ngIf="currentUserSubject.value.role =='Admin'">
                  <b>All DietPlans Status</b>                  
                </h2>
              </div>                                      
            </div>
            <hr/>
            <br/>
            <table #dataTable class="table table-striped table-hover table-bordered table-sm" id="mytable">
              <caption>
                <b>View My Schedule Details</b>
              </caption>
              <thead>
                <tr>
                  <th style="text-align: center;" scope="col">Id</th>   
                  <th style="text-align: center;" scope="col">Schedule Id</th>
                  <th style="text-align: center;" scope="col">Diet plan name</th>
                  <th style="text-align: center;" scope="col">Owner Name</th>
                  <th style="text-align: center;" scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of view">
                    <td>{{data[0].dietPlanId}}</td>
               
                 
                    </tr>
                </tbody>
            </table>
            
          </div>
              <!-- <thead>
                <tr>
                  <th style="text-align: center;" scope="col">Id</th>   
                  <th style="text-align: center;" scope="col">Schedule Id</th>
                  <th style="text-align: center;" scope="col">Diet plan name</th>
                  <th style="text-align: center;" scope="col">Owner Name</th>
                  <th style="text-align: center;" scope="col">Status</th>
            
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dietPlanView">
                  <td style="text-align: center;" >{{data.dietPlanId}}</td>
                  <td style="text-align: center;">{{data.ScheduleId}}</td>  
                  <td style="text-align: center;">{{data.dietPlanName}}</td>
                
                
                  <td style="text-align: center;">{{data.type}}</td>
                  <td  *ngIf="2 == data.status" style="color:Gold; text-align: center; ">
                    <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                   </td>
                   <td  *ngIf="2 == data.status" style="color:Gold; text-align: center; ">
                    <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                   </td>
                   <td  *ngIf="3 == data.status" style="text-align: center; color: greenyellow; "><i class="fa fa-spinner fa-pulse fa-lg fa-fw" ngbTooltip="Schedule Accepted"></i>
                    <span class="sr-only">Loading...</span></td>
                   <td  *ngIf="4 == data.status" style="text-align: center; "><button type="button" (click) ="routePage(data)" class="btn btn-sm btn-info"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
                  
                   <td  *ngIf="1 == data.status" style="text-align: center; color: yellow;"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"  ngbTooltip="Pending Schedule"></i>
                    <span class="sr-only">Loading...</span>
                    <td  *ngIf="2 == data.status" style="text-align: center; color: red;"><i class="fa fa-frown-o" aria-hidden="true"></i></td>
                  
                 
                </tr>
              </tbody> -->