<div class="card mb-8">
  <div class="card-body table-responsive">
    <div class="col-md-12">
      <div class="card bg-light mb-2">
        <div class="card-header"><b>New Role Record</b></div>
        <div class="card-body">
            <form>
              
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Group ID *</label>
                    <input type="text" class="form-control" placeholder="Group ID" >
                   
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Group Name</label>
                    <input type="text" class="form-control"  placeholder="Group Name"  >
                    
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Description</label>
                  <textarea class="form-control" placeholder="Description"  rows="3" ></textarea>
                  
                </div>
                   
         

                <button type="button" class="btn btn-primary">Update<i class="fa fa-book" aria-hidden="true"></i></button>
              </form>
              <br>
               
<ngb-tabset>
  <ngb-tab title="itinerary Pendings">
      <ng-template ngbTabContent>
        <div class="card-header">
          <i class="fa fa-clock-o fa-fw"></i> <b>Pending itinerary</b>
      </div>     
      
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table> 
      </ng-template>
  </ngb-tab>

  <ngb-tab title="Agents Pendings">
      <ng-template ngbTabContent>
        <div class="card-header">
          <i class="fa fa-clock-o fa-fw"></i> <b>Pending itinerary</b>
      </div>     
      
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>   
      </ng-template>
  </ngb-tab>

  <ngb-tab title="Pending Payment">
      <ng-template ngbTabContent>
        <div class="card-header">
          <i class="fa fa-clock-o fa-fw"></i> <b>Pending itinerary</b>
      </div>     
      
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table> 
      </ng-template>
  </ngb-tab>


</ngb-tabset>
        
        
        
        
            </div>
      </div>
    </div>

  </div>
</div>