<div class="card mb-8">
    <div class="card-body table-responsive">
        <div class="col-md-12">
            <div class="card bg-light mb-2">
                <div class="card-header"><b>Sales Order</b></div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Supplier_Id">Customer Id</label>
                                <select class="form-control">
                                    <option>DATA</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Supplier_name">Supplier Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="example-date-input" class="">Date</label>
                                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Supplier_name">PO No</label>
                                <input type="text" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="card bg-secondary border-secondary">
                            <br>
                            <div class="container">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Supplier_Id">Catagory No</label>
                                        <select class="form-control">
                                            <option>DATA</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="Supplier_name"><b>Choose a Catagory for visibale Sub
                                                catagory</b></label>
                                        <label for="Supplier_Id">Catagory No</label>
                                        <select class="form-control">
                                            <option>Sub Cat</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="Supplier_name">SubCatgory Name</label>
                                            <input type="text" readonly class="form-control" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Supplier_name">Quantity</label>
                                            <input type="text" readonly class="form-control" />
                                        </div>

                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                    
                                        <button type="button" class="btn btn-info"><i class="fa fa-plus"
                                                aria-hidden="true"></i></button>
                                        &nbsp;
                                      
                                        <button type="button" class="btn btn-danger"><i class="fa fa-remove"
                                                aria-hidden="true"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <table class="table table-striped table-hover table-bordered table-sm" id="mytable">
                                <thead>
                                  <tr>
                                    <th style="text-align: center;" scope="col">Sub Catgory No</th>
                                    <th  style="text-align: center;" scope="col">Sub Catgory Name</th>
                                    <th  style="text-align: center;" scope="col">Quantity</th>
                                  </tr>
                                </thead>
                                <tbody>
                          
                                  <tr>
                          
                                    <td style="text-align: center;">123</td>
                                    <td style="text-align: center;">Hello</td>
                                    <td style="text-align: center;">Bla</td>
                                    </tr>
                          
                                  
                                </tbody>
                              </table>
                              <div class="form-row">

                                    <button type="button" class="btn btn-success"><i class="fa fa-cogs" aria-hidden="true"></i> &nbsp;Generate Purcahse Order</button>
                                    &nbsp;  <button type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> &nbsp;Cancel</button>
                            
                                </div>
                            





                    </form>

                </div>
            </div>
        </div>



    </div>
</div>