<div class="card mb-8">
  <div class="card-body table-responsive">
    <div class="col-md-12">
      <div class="card bg-light mb-2">
        <div class="card-header">
          <h2><b> <i class="fa fa-handshake-o" aria-hidden="true"></i>
             Get Membership Request form</b></h2>  
           
        </div>
        <div class="card-body">
          <form [formGroup]="getMembershipGroup" (ngSubmit)="onSubmit()">
           <h3><b>Personal information</b></h3>
           <hr>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="userID"><b>Membership ID</b></label>
                <input type="text" class="form-control inputClass" formControlName="membershipId" disabled />
              </div>
              <div class="form-group col-md-3">
                <label for="userID"><b>Member ID</b></label>
                <input type="text" class="form-control inputClass" formControlName="memberId" disabled />
              </div>
              <div class="form-group col-md-3">
                <label for="email"><b>Email Address</b></label>
                <input type="email" class="form-control inputClass" formControlName="email"  placeholder="Email"
                  [ngClass]="{
                                        'is-invalid':
                                            submitted && f.email.errors
                                    }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">
                    Emailname is required
                  </div>
                  <div *ngIf="f.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
              <div class="form-group co-md-3">
                <label for="email"><b>Current Join Date</b></label>
                <input type="text" class="form-control inputClass" disabled formControlName="currnetJoinDate"
                  placeholder="currnetJoinDate" />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="firstName"><b>First Name</b></label>
                <input type="text" class="form-control inputClass" formControlName="firstName" placeholder="First Name"
                  [ngClass]="{
                                        'is-invalid':
                                            submitted && f.firstName.errors
                                    }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">
                    First name is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="lastName"><b>Last Name</b></label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.lastName.errors
                                    }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">
                    Last name is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">NIC Number</label>
                <input type="text" class="form-control" formControlName="nicNumber" (keyup)="onKey($event)"
                  placeholder="Nic Number" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.nicNumber.errors
                                    }" />

                <div *ngIf="
                                        submitted &&
                                        getMembershipGroup
                                            .get('nicNumber')
                                            .hasError('required')
                                    " class="invalid-feedback">
                  Nic Number is required
                </div>
                <div *ngIf="
                                        getMembershipGroup
                                            .get('nicNumber')
                                            .hasError('pattern')
                                    " class="invalid-feedback">
                  It is not a valid NIC number.
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="lastName"><b>Date of birth</b></label>
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="birth"
                  [readOnly]="true" *ngIf="dateFieldValid" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.birth.errors
                                    }" />
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" [readOnly]="true"
                  *ngIf="!dateFieldValid" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.birth.errors
                                    }" />
                <div *ngIf="submitted && f.birth.errors" class="invalid-feedback">
                  <div *ngIf="f.birth.errors.required">
                    Date of birth is required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Mobile Number</label>
                <input matInput class="form-control" maxlength="10" formControlName="phonenumber"
                  placeholder="Phone Number" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.phonenumber.errors
                                    }" />
                <div *ngIf="
                                        submitted &&
                                        getMembershipGroup
                                            .get('phonenumber')
                                            .hasError('required')
                                    " class=" input-lg invalid-feedback">
                  Phone Number is required
                </div>
                <div *ngIf="
                                        getMembershipGroup
                                            .get('phonenumber')
                                            .hasError('pattern')
                                    " class=" input-lg invalid-feedback">
                  It is not a valid mobile number.
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="inputEmail4">Emergency Number</label>
                <input matInput class="form-control" maxlength="10" formControlName="phonenumber1"
                  placeholder="Emergency Number" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.phonenumber1.errors
                                    }" />
                <div *ngIf="
                                        submitted &&
                                        getMembershipGroup
                                            .get('phonenumber1')
                                            .hasError('required')
                                    " class=" input-lg invalid-feedback">
                  Emergency Number is required
                </div>
                <div *ngIf="
                                        getMembershipGroup
                                            .get('phonenumber1')
                                            .hasError('pattern')
                                    " class=" input-lg invalid-feedback">
                  It is not a valid Emergency number.
                </div>
              </div>
            </div><hr>
            <h3><b>Body measurements</b></h3>
            <hr>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="inputPassword4">Height</label>

                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <b>m</b>
                    </div>
                  </div>
                  <input type="text" class="form-control" (keyup)="bmiCalculator(this)" appTwoDigitDecimaNumber
                    formControlName="Height" placeholder="Height" [ngClass]="{
                                            'is-invalid':
                                                submitted && f.Height.errors
                                        }" />
                  <div *ngIf="submitted && f.Height.errors" class="invalid-feedback">
                    <div *ngIf="f.Height.errors.required">
                      Height is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Weight</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <b>Kg</b>
                    </div>
                  </div>
                  <input type="text" class="form-control" (keyup)="bmiCalculator(this)" appTwoDigitDecimaNumber
                    formControlName="Weight" placeholder="Weight" [ngClass]="{
                                            'is-invalid':
                                                submitted && f.Weight.errors
                                        }" />
                  <div *ngIf="submitted && f.Weight.errors" class="invalid-feedback">
                    <div *ngIf="f.Weight.errors.required">
                      Weight is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">BMI</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <b>kg/m2</b>
                    </div>
                  </div>
                  <input type="text" class="form-control" [readOnly]="true" formControlName="BMI" placeholder=" kg/m2"
                    *ngIf="BMIField" />
                  <input type="text" class="form-control" [readOnly]="true" placeholder=" kg/m2" *ngIf="!BMIField" />
                </div>
              </div>
              <!-- <div class="form-group col-md-3">
                <label for="inputPassword4">Any Disasters</label>

                <label for="inputState">State</label>
                <select id="inputState" class="form-control" formControlName="disaster" [ngClass]="{
                  'is-invalid':
                      submitted && f.disaster.errors
              }">
                  <option selected>Choose...</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
                <div *ngIf="submitted && f.disaster.errors" class="invalid-feedback">
                  <div *ngIf="f.disaster.errors.required">
                    Disaster is required
                  </div>
                </div>
              </div> -->
              <div class="form-group col-md-3">
                  <label for="firstName"><b>Disaster </b></label>
                  <select class="form-control" formControlName="disaster" (click)="appearDiscription($event)" [ngClass]="{ 'is-invalid': submitted && f.disaster.errors }">
                   
                     <option value="" disabled>Choose your city</option>
                    <option *ngFor="let data of display" [ngValue]="data.id">{{data.id}}</option>
                  </select>
                  <div *ngIf="submitted && f.disaster.errors" class="invalid-feedback">
                    <div *ngIf="f.disaster.errors.required">Disaster is required</div>
                  </div> 
                <!-- <label for="firstName"><b>Any Disasters</b></label>
                <select class="form-control" formControlName="disaster" (keyup)="appearDiscription($event)" #data [ngClass]="{ 'is-invalid': submitted && f.disaster.errors }">
                  <option selected>Choose...</option>
                  <option *ngFor="let data of display">{{data.id}}</option>
                </select>
                <div *ngIf="submitted && f.disaster.errors" class="invalid-feedback">
                  <div *ngIf="f.disaster.errors.required">Disasters  is required</div>
                </div> 

              </div> -->

            

              </div>
            </div>

            <div class="form-group" *ngIf ="disaster" >
              <label for="exampleFormControlTextarea1">Note about disaster
              </label>
              <textarea class="form-control" formControlName="description" rows="3"></textarea>
            </div>
            <hr>
            <h3><b>Membership information</b></h3>
            <hr>
            <div class="form-row">
              <div class="form-group col-md-3" (change)="displayAmount(data)" >
                <label for="inputPassword4">Membership Type</label>
                <select class="form-control"  #data  formControlName="typeName"   [ngClass]="{
                                        'is-invalid':
                                            submitted && f.typeName.errors
                                    }">
                                    <option value="" disabled>Choose your Membership</option>             
                  <option *ngFor="let data of Type" >{{ data.membershipName }}</option>
                
                </select>
                <div *ngIf="submitted && f.typeName.errors" class="invalid-feedback">
                  <div *ngIf="f.typeName.errors.required">
                    Type name is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Amount</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <b>Rs:</b>
                    </div>
                  </div>
                  <input type="text" class="form-control" disabled id="inlineFormInputGroup" placeholder="00.00"
                    formControlName="amount" />
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Valida Month</label>

                <input type="text" class="form-control" disabled id="inlineFormInputGroup" placeholder="Valid Mounth"
                  formControlName="VMonth" />
              </div>

              <div class="form-group col-md-3">
                <label for="inputPassword4">Expire Date</label>

                <input type="text" disabled class="form-control" disabled id="inlineFormInputGroup"
                  formControlName="endDate" />
              </div>
            </div>

            <div class="form-row">
              <div class="alert alert-info" role="alert">
                     This is a info alert—check it out!
                </div>
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" formControlName="description" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
 Submit 
            </button>

          </form>
          <div class="row"  *ngIf="showMsg">
  
            <p class="alert alert-success">
                <strong>Membership request Successfully Send!</strong>
          
            </p>
          
          </div>
          
          <div class="row"  *ngIf="alertDisplay">
          
          <p class="alert alert-danger">
              <strong>You were already send a request!</strong>
          
          </p>
          
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>