<div class="card mb-8">
  <div class="card-body table-responsive">
    <div class="col-md-12">
      <div class="card bg-light mb-2">
        <div class="card-header">
          <h2><b>Get Membership Request</b></h2>
        </div>
        <div class="card-body">
          <form [formGroup]="getMembershipGroup" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="userID"><b>Membership ID</b></label>
                <input type="text" class="form-control inputClass" formControlName="membershipId" disabled />
              </div>
              <div class="form-group col-md-3">
                <label for="email"><b>Email Address</b></label>
                <input type="email" class="form-control inputClass" formControlName="email" placeholder="Email"
                  [ngClass]="{
                                        'is-invalid':
                                            submitted && f.email.errors
                                    }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">
                    Emailname is required
                  </div>
                  <div *ngIf="f.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
              <div class="form-group co-md-3">
                <label for="email"><b>Current Join Date</b></label>
                <input type="text" class="form-control inputClass" disabled formControlName="currnetJoinDate"
                  placeholder="currnetJoinDate" />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="firstName"><b>First Name</b></label>
                <input type="text" class="form-control inputClass" formControlName="firstName" placeholder="First Name"
                  [ngClass]="{
                                        'is-invalid':
                                            submitted && f.firstName.errors
                                    }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">
                    First name is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="lastName"><b>Last Name</b></label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.lastName.errors
                                    }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">
                    Last name is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">NIC Number</label>
                <input type="text" class="form-control" (keyup)="onKey($event)" formControlName="nicNumber"
                  placeholder="Nic Number" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.nicNumber.errors
                                    }" />

                <div *ngIf="
                                        submitted &&
                                        getMembershipGroup
                                            .get('nicNumber')
                                            .hasError('required')
                                    " class="invalid-feedback">
                  Nic Number is required
                </div>
                <div *ngIf="
                                        getMembershipGroup
                                            .get('nicNumber')
                                            .hasError('pattern')
                                    " class="invalid-feedback">
                  It is not a valid NIC number.
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="lastName"><b>Date of birth</b></label>
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="birth"
                  [readOnly]="true" *ngIf="dateFieldValid" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.birth.errors
                                    }" />
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" [readOnly]="true"
                  *ngIf="!dateFieldValid" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.birth.errors
                                    }" />
                <div *ngIf="submitted && f.birth.errors" class="invalid-feedback">
                  <div *ngIf="f.birth.errors.required">
                    Date of birth is required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="inputPassword4"> Password</label>
                <input type="password" class="form-control" formControlName="password" id="" placeholder="Password"
                  [ngClass]="{
                                        'is-invalid':
                                            submitted && f.password.errors
                                    }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="f.password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Rewrite Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Password"
                  [ngClass]="{
                                        'is-invalid':
                                            submitted &&
                                            f.confirmPassword.errors
                                    }" />
                <div *ngIf="
                                        submitted && f.confirmPassword.errors
                                    " class="invalid-feedback">
                  <div *ngIf="
                                            f.confirmPassword.errors.required
                                        " class="input-lg">
                    Confirm Password is required
                  </div>
                  <div *ngIf="
                                            f.confirmPassword.errors.mustMatch
                                        " class="input-lg">
                    Passwords must match
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">User Name</label>
                <input type="text" class="form-control" formControlName="username" placeholder="username" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.username.errors
                                    }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">
                    Username is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="lastName">Gender</label>
                <input type="text" class="form-control" formControlName="gender" *ngIf="dateFieldValid"
                  [readOnly]="true" placeholder="Last Name" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.lastName.errors
                                    }" />
                <input type="text" class="form-control" *ngIf="!dateFieldValid" [readOnly]="true"
                  placeholder="Fill the NIC Number" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.lastName.errors
                                    }" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Mobile Number</label>
                <input matInput class="form-control" maxlength="10" formControlName="phonenumber"
                  placeholder="Phone Number" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.phonenumber.errors
                                    }" />
                <div *ngIf="
                                        submitted &&
                                        getMembershipGroup
                                            .get('phonenumber')
                                            .hasError('required')
                                    " class=" input-lg invalid-feedback">
                  Phone Number is required
                </div>
                <div *ngIf="
                                        getMembershipGroup
                                            .get('phonenumber')
                                            .hasError('pattern')
                                    " class=" input-lg invalid-feedback">
                  It is not a valid mobile number.
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="inputEmail4">Emergency Number</label>
                <input matInput class="form-control" maxlength="10" formControlName="phonenumber1"
                  placeholder="Emergency Number" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.phonenumber1.errors
                                    }" />
                <div *ngIf="
                                        submitted &&
                                        getMembershipGroup
                                            .get('phonenumber1')
                                            .hasError('required')
                                    " class=" input-lg invalid-feedback">
                  Emergency Number is required
                </div>
                <div *ngIf="
                                        getMembershipGroup
                                            .get('phonenumber1')
                                            .hasError('pattern')
                                    " class=" input-lg invalid-feedback">
                  It is not a valid Emergency number.
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="inputPassword4">Height</label>

                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <b>m</b>
                    </div>
                  </div>
                  <input type="text" class="form-control" (keyup)="bmiCalculator(this)" appTwoDigitDecimaNumber
                    formControlName="Height" placeholder="Height" [ngClass]="{
                                            'is-invalid':
                                                submitted && f.Height.errors
                                        }" />
                  <div *ngIf="submitted && f.Height.errors" class="invalid-feedback">
                    <div *ngIf="f.Height.errors.required">
                      Height is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Weight</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <b>Kg</b>
                    </div>
                  </div>
                  <input type="text" class="form-control" (keyup)="bmiCalculator(this)" appTwoDigitDecimaNumber
                    formControlName="Weight" placeholder="Weight" [ngClass]="{
                                            'is-invalid':
                                                submitted && f.Weight.errors
                                        }" />
                  <div *ngIf="submitted && f.Weight.errors" class="invalid-feedback">
                    <div *ngIf="f.Weight.errors.required">
                      Weight is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">BMI</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <b>kg/m2</b>
                    </div>
                  </div>
                  <input type="text" class="form-control" [readOnly]="true" formControlName="BMI" placeholder=" kg/m2"
                    *ngIf="BMIField" />
                  <input type="text" class="form-control" [readOnly]="true" placeholder=" kg/m2" *ngIf="!BMIField" />
                </div>
              </div>
              <!-- <div class="form-group col-md-3">
                <label for="inputPassword4">Any Disasters</label>

                <label for="inputState">State</label>
                <select id="inputState" class="form-control" formControlName="disaster" [ngClass]="{
                  'is-invalid':
                      submitted && f.disaster.errors
              }">
                  <option selected>Choose...</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
                <div *ngIf="submitted && f.disaster.errors" class="invalid-feedback">
                  <div *ngIf="f.disaster.errors.required">
                    Disaster is required
                  </div>
                </div>
              </div> -->
              <div class="form-group col-md-3">
                  <label for="firstName"><b>Disaster </b></label>
                  <select class="form-control" formControlName="disaster" (click)="appearDiscription($event)" [ngClass]="{ 'is-invalid': submitted && f.disaster.errors }">
                    <option selected>Choose...</option>
                    <option *ngFor="let data of display">{{data.id}}</option>
                  </select>
                  <div *ngIf="submitted && f.disaster.errors" class="invalid-feedback">
                    <div *ngIf="f.disaster.errors.required">Disaster is required</div>
                  </div> 
                <!-- <label for="firstName"><b>Any Disasters</b></label>
                <select class="form-control" formControlName="disaster" (keyup)="appearDiscription($event)" #data [ngClass]="{ 'is-invalid': submitted && f.disaster.errors }">
                  <option selected>Choose...</option>
                  <option *ngFor="let data of display">{{data.id}}</option>
                </select>
                <div *ngIf="submitted && f.disaster.errors" class="invalid-feedback">
                  <div *ngIf="f.disaster.errors.required">Disasters  is required</div>
                </div> 

              </div> -->

            

              </div>
            </div>

            <div class="form-group" *ngIf ="disaster" >
              <label for="exampleFormControlTextarea1">Note about disaster
              </label>
              <textarea class="form-control" formControlName="description" rows="3"></textarea>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="inputPassword4">Membership Type</label>
                <select class="form-control" formControlName="typeName" #data (change)="displayAmount(data)" [ngClass]="{
                                        'is-invalid':
                                            submitted && f.typeName.errors
                                    }">
                  <option selected>Choose...</option>
                  <option *ngFor="let data of Type">{{ data.typeName }}
                  </option>
                </select>
                <div *ngIf="submitted && f.typeName.errors" class="invalid-feedback">
                  <div *ngIf="f.typeName.errors.required">
                    Type name is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Amount</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <b>Rs:</b>
                    </div>
                  </div>
                  <input type="text" class="form-control" disabled id="inlineFormInputGroup" placeholder="00.00"
                    formControlName="amount" />
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Valida Month</label>

                <input type="text" class="form-control" disabled id="inlineFormInputGroup" placeholder="Valid Mounth"
                  formControlName="VMonth" />
              </div>

              <div class="form-group col-md-3">
                <label for="inputPassword4">Expire Date</label>

                <input type="text" disabled class="form-control" disabled id="inlineFormInputGroup"
                  formControlName="endDate" />
              </div>
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" formControlName="description" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">
              Submit <i class="fa fa-book" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>