<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="100px" class="user-avatar" />
            <h1 *ngIf="!error">Gym Management Login </h1>
            <h1 *ngIf="error" style="color: red;">Gym Management Login </h1>
            
          <form [formGroup]="loginForm" (ngSubmit)= "onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName = "email" (keyup)="changeStatus()" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email Address' | translate }}" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required"  class="input-lg"><b>Email Address is required</b></div> 
                            <div *ngIf="f.email.errors.email" class="input-lg" >Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password"  (keyup)="changeStatus()" formControlName = "password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required"  class="input-lg"><b>Password is required</b></div>

</div> 
<div class="form-group">
    <a  [routerLink]="['/request-reset-password']">Forgot Password</a>
</div>
<div *ngIf="statusMessage"  style="color: red;" class="input-lg"><b>{{backendMessage}}</b></div>
 <div *ngIf="error" style="color: red;" class="input-lg"><b>{{error}}</b></div>
            
                    </div>
                </div>
              
                <button type = "submit" class = "btn rounded-btn">Login</button>&nbsp; 
                <!-- <a class="btn rounded-btn" [routerLink]="['/']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp; -->
                <a class="btn rounded-btn" [routerLink]="['/memberSignup']">{{ 'Register' | translate }}</a>
            <div *ngIf="error" style="color: red;" class="input-lg"><b>{{error}}</b></div>
            
            </form>
        </div>
    </div>
</div>
