
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Hey</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Registered Successfully &hellip;</b>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #contentDone let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Hey</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Supplier Register Failed please try again&hellip;</b>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<div class="card mb-8">
  <div class="card-body table-responsive">
    <div class="col-md-12">
      <div class="card bg-light mb-2">
        <div class="card-header"><b>Suplier New Record</b></div>
        <div class="card-body">
            <form [formGroup] = "supRegister" (ngSubmit)="onSubmit(userID ,content,contentDone)">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Suplier Id</label>
                <input type="text" class="form-control" [value]="userId"  disabled #userID>
                   </div>
                   <div class="form-group col-md-3">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" formControlName ="firstName"  placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">Firstname is required</div>
                  </div>
                  </div>
                  <div class="form-group col-md-3">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" formControlName = "lastName" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">LastName is required</div>
                    </div>
                    </div>


             
            </div>

            <div class="form-row">
            
            <div class="form-group col-md-6">
                <label for="email"><b>Email</b></label>
                <input type="email" class="form-control" formControlName = "email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">emailname is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
         
              <div class="form-group col-md-3">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" formControlName = "password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
              </div>

              <div class="form-group col-md-3">
                <label for="inputPassword4">Rewrite Password</label>
                <input type="password" class="form-control" formControlName = "confirmPassword" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required" class="input-lg">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch" class="input-lg">Passwords must match</div>
              </div>
              </div>
         
         
          </div>
  

            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="username"><b>Nic Number</b></label>
                <input type="text" class="form-control" formControlName = "nicNumber" (keyup)="onKey($event)"  placeholder="Nic Number" [ngClass]="{ 'is-invalid': submitted && f.nicNumber.errors }">
                      
                        <div *ngIf="submitted && supRegister.get('nicNumber').hasError('required')" class="invalid-feedback">
                          Nic Number is required
                        </div>
                        <div *ngIf="supRegister.get('nicNumber').hasError('pattern')" class="invalid-feedback">
                          It is not a valid NIC number.
                        </div>


                </div>
                <div class="form-group col-md-3">
                  <label for="lastName"><b>Date of birth</b></label>
                  <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="birth"  [readOnly] = "true" *ngIf ="dateFieldValid"
                    [ngClass]="{ 'is-invalid': submitted && f.birth.errors }">
                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp"  [readOnly] = "true" *ngIf ="!dateFieldValid"
                    [ngClass]="{ 'is-invalid': submitted && f.birth.errors }">
                  <div *ngIf="submitted && f.birth.errors" class="invalid-feedback">
                    <div *ngIf="f.birth.errors.required">Date of birth is required</div>
                  </div>
  
                </div>
           
                <div class="form-group col-md-6">
                  <label for="Company">Company Name</label>
                  <input type="text" class="form-control" formControlName = "company" placeholder="Comapany Name" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
                  <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                    <div *ngIf="f.company.errors.required">Company Name is required</div>
                </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="phonenumber"><b>Contact Number</b></label>
                    <input matInput class="form-control" maxlength="10"  formControlName = "phonenumber" placeholder="Phone Number"  [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }">
                        <div *ngIf="submitted && supRegister.get('phonenumber').hasError('required')" class="invalid-feedback">
                          Phone Number is required
                        </div>
                        <div *ngIf="supRegister.get('phonenumber').hasError('pattern')" class="invalid-feedback">
                          It is not a valid mobile number.
                        </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="phonenumber"><b>Emergency Number</b></label>
                    <input matInput class="form-control" maxlength="10"  formControlName = "phonenumber1" placeholder="Emergency Number"  [ngClass]="{ 'is-invalid': submitted && f.phonenumber1.errors }">
                        <div *ngIf="submitted && supRegister.get('phonenumber1').hasError('required')" class="invalid-feedback">
                          Emergency Number is required
                        </div>
                        <div *ngIf="supRegister.get('phonenumber1').hasError('pattern')" class="invalid-feedback">
                          It is not a valid Emergency number.
                        </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Supplier category Type</label>
                    <select class="form-control" formControlName="sup_category" [ngClass]="{ 'is-invalid': submitted && f.sup_category.errors }">
                      <option disabled selected>Choose...</option>
                      <option *ngFor="let data of Type">{{data}} </option>
                    </select>
                    <div *ngIf="submitted && f.sup_category.errors" class="invalid-feedback">
                      <div *ngIf="f.sup_category.errors.required">Supplier category type is required</div>
                    </div> 
                  </div>
            </div>

          
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="address">Private Address</label>
                    <input type="text" class="form-control" formControlName ="address"  placeholder="Address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">Firstname is required</div>
                  </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                      <label for="companyAddress">Company Address</label>
                      <input type="text" class="form-control" formControlName ="companyAddress"  placeholder="Company Address" [ngClass]="{ 'is-invalid': submitted && f.companyAddress.errors }">
                      <div *ngIf="submitted && f.companyAddress.errors" class="invalid-feedback">
                        <div *ngIf="f.companyAddress.errors.required">Cmpany Address is required</div>
                    </div>
                    </div>
                  </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                   <label>Description</label>
                   <textarea rows="3" class="form-control" formControlName="description"></textarea>
                       
                 
                    </div>

                    <button type="submit" class="btn btn-primary">Register <i class="fa fa-book" aria-hidden="true"></i></button>
            </div>

              </form>
              </div>
              </div>
              </div>
              </div>
              </div>
            
            