<div class="card mb-12">                
  <div class="card-body table-responsive">
    <table class="table table-hover table-striped">
      <thead>                  
        <div class="row">
          <div class="container">
            <div class="row">
              <div  style="text-align: center;">
                <h2>
                  <b>Total Gym Exercises <i class="fa fa-futbol-o" aria-hidden="true" ></i> </b>        
                  <!-- <button type="button" [routerLink]="['/new-excercise']" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> New</button>           -->
                </h2>
        </div>                                      
            </div>
            <hr />
          
            <table class="table table-image">
              <thead>
                <tr>
                 
                  <th scope="col">Image</th>
                  <th style="text-align: center;" scope="col">Exercise Type</th>
                  <th scope="col">More</th>
                 
               
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of Exercise">
                  <td class="w-25">
                    <img src={{data.image}} class="img-fluid img-thumbnail" alt="Sheep">
                  </td>
                  <td style="text-align: center;"><h2><b>{{data.name}}</b></h2></td>
                  <!-- <td><button type="button" [routerLink]="['/new-excercise']" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>View Exercise</button>   </td> -->
                <td><a (click) ="routePage(data.name)" class="myButton">View Exercises <i class="fa fa-hand-pointer-o" aria-hidden="true"></i></a>
                </td>
                </tr>
                
              </tbody>
            </table>  
                
          </div>