<div class="card mb-12">
                   
  <div class="card-body table-responsive">
             
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <h2>
                  <b><i class="fa fa-futbol-o" aria-hidden="true"></i> All Exercises</b>        
                    </h2>
        </div>                                      
            </div>
            <hr />
            <br />
            <div >
              
            <div class="row">

          
              <div  *ngFor="let data of excerciseDetails" class="col-md-4">
                <div class="card text-center" >
                  <img src="../../../../assets/weightlifting.png"  class="rounded center"    width="125" height="125">
                  <div class="card-body">
                    <h5 class="card-title">{{data.exerciseName}}</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button type="button" (click)=routePage(data)  class="btn btn-primary">More</button>
                  </div>
                  <div class="card-footer text-muted">
                   Created By: {{data.createdBy}}
                  </div>
                </div>
              </div>
              
              
                      </div>
                    </div>