
    
          <div class="card mb-3" *ngIf = "showcomponent == false">
            <div class="card-header"> <h1>
              <b><i class="fa fa-file-o" aria-hidden="true"></i> All {{name}} Status</b>
            </h1>&nbsp;    </div>  
            <div class="card-body table-responsive">              
                <div class="row">
                  <div class="container">
                  <div class="row">
                      <div class = "col-md-9">
                   
                  </div>

                  </div>
                  
                    <table class="table table-striped table-hover table-bordered table-sm" id="mytable">
                      <caption>
                        <b><i class="fa fa-file-o" aria-hidden="true"></i> View {{name}} Details</b>
                      </caption>
                      <thead>
                        <tr>
                          <th style="text-align: center;" scope="col">Exercise Name</th>
                          <th  style="text-align: center;" scope="col">Exercise Type</th>
                          <th  style="text-align: center;" scope="col">Equipment</th>
                          <th  style="text-align: center;" scope="col">Created by</th>
                          <th  style="text-align: center;" scope="col">Acion</th>
                        </tr>
                      </thead>
                      <tbody>                 
                        <tr *ngFor= "let data of excerciseDetails">                
                          <td style="text-align: center;">
                            {{data.exerciseName}}</td>
                          <td style="text-align: center;">{{data.exerciseFor}}</td>
                          <td style="text-align: center;">{{data.equipment}}</td>
                          <td style="text-align: center;">{{data.createdBy}}</td>
                          <td style="text-align: center;">
                            <button type="button" (click)="navigateToPage(data)" class= "btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> Details</button> &nbsp;
                            </tr>
                      </tbody>
                    </table>

                      </div>
                </div>
            </div>
        </div>




        <div class="card mb-3" *ngIf = "showcomponent">
          <div class="card-header"> <h1>
            <b><i class="fa fa-file-o" aria-hidden="true"></i> {{exerciseName}} exercise Details</b>  &nbsp; <button type="button" class="btn btn-primary btn-sm" (click)="navigateBack()" ><i class="fa fa-arrow-left" aria-hidden="true"></i> <b>Go back to table</b></button> 
          </h1>
      
        </div>  
          <div class="card-body table-responsive">              
              <div class="row">
                <div class="container">
                  <div class="card-body">

                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="userID"><b>Exercise ID</b></label>
                         <input type="text" class="form-control inputClass" [(ngModel)]="exerciseId" readonly="true">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="email"><b>Exercise Name</b></label>
                        <input type="email"  class="form-control inputClass" [(ngModel)]="exerciseName" readonly="true">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="email"><b>Exercise Type</b></label>
                        <input type="email"  class="form-control inputClass"  [(ngModel)]="exerciseFor" readonly="true">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="email"><b>Exercise Equipment</b></label>
                        <input type="email"  class="form-control inputClass" placeholder="DO not want an euipment"  [(ngModel)]="equipment" readonly="true">
                      </div>
                    </div>
                    <hr/>
                    <h4><b><i class="fa fa-picture-o" aria-hidden="true"></i> Images for the exercise</b></h4>
                    <hr/>
                    <div class="form-row">
                      <div class="column"  *ngFor="let data of image">
                        <img src={{data.imageName}} alt="Snow" style="width:100%">
                      </div>


                      <div>
                      <!-- <div class="col">
                        <img src={{data.imageName}}  class="tiledBackground img-fluid img-thumbnail" alt="Sheep">
                      </div> -->
                    </div>
                    </div>
                    <hr/>
                    <h4><b><i class="fa fa-commenting" aria-hidden="true"></i> Steps</b></h4>
                    <hr/>
                    <div class="form-row">
                    
                      <ol *ngFor ="let steps of Steps">
                        <li>{{steps.skillName}}</li>
                      </ol>
                      </div>

                      <button type="button" class="btn btn-primary btn-sm" (click)="navigateBack()" ><i class="fa fa-arrow-left" aria-hidden="true"></i> <b>Go back to table</b></button> 
       

                    </div>
                    </div>
              </div>
          </div>
      </div>

        

   