<div class="card lg-12">
    
     
  
  <ng-template #content let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"><b>Customers</b></h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


      <table #dataTable class="table table-striped table-hover table-bordered table-sm" id="mytable">
          <caption>
            <b>View Customer Details</b>
          </caption>
          <thead>
            <tr>
              <th style="text-align: center;" scope="col">Customer ID</th>
              <th style="text-align: center;" scope="col">Customer Names</th>
              <th style="text-align: center;" scope="col">email</th>
              <th style="text-align: center;" scope="col">Phone number</th>
              
              <th style="text-align: center;" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->

            <tr *ngFor="let data of customerData">

              <td style="text-align: center;">{{data.id}}</td>
              <td style="text-align: center;">{{data.firstName}}</td>
              <td style="text-align: center;">{{data.lastName}}</td>
              <td style="text-align: center;">{{data.phonenumber}}</td>
              <td style="text-align: center;"><button type="button" class="btn btn-primary btn-sm" (click)="onClickMe(data ,content)"><i
                    class="fa fa-hand-pointer-o" aria-hidden="true"></i></button> &nbsp;
                </td>

            </tr>
          </tbody>
        </table>
  </ng-template>
  <!-- TableDetails -->
</div>
<div class="card-header">
<div class="card mb-8">
<div class="card-body table-responsive">
  <div class="col-md-12">
      <div class="card bg-light mb-2">
          <div class="card-header"><h2><b>Sales Order</b></h2></div>
          <div class="card-body">
              <form [formGroup]="salesOrderGroup" (ngSubmit)="onSubmit()">
                  <div class="form-row">
                      
                      <div class="form-group col-md-6">
                          <label for="Customer_name">SO No</label>
                         <b><input type="text" class="form-control" formControlName ="id" disabled #userID></b> 
                      </div>
                      <div class="form-group col-md-6">
                          <label for="example-date-input" class="">Date</label>
                          <b><input type="text" class="form-control" formControlName = "date" disabled #curentDate></b> 
                      </div>
                  </div>
                  
                  <div class="form-row">
                      <div class="form-group col-md-4">
                          
                          <input type="text" placeholder="Customer Name" class="form-control" #customerName/> 
                      </div>
                      <div class="form-group col-md-2">
                          <button type= "button" class="btn btn-primary" (click)="open(content , customerName)"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;View</button>

                      </div>
                      <div class="form-group col-md-6">
                          <input type="text" class="form-control" formControlName = "customerId" placeholder="Customer Id" disabled/>
                      </div>
                      
                  </div>
                  <div class="form-row">
                  
                      <div class="form-group col-md-6">
                              <label for="example-date-input" class="">Frist Name</label>
                          <input type="text" class="form-control" formControlName="customerfirstName"   placeholder="Frist Name" disabled/>
                      </div>
                      <div class="form-group col-md-6">
                              <label for="example-date-input" class="">Last Name</label>
                          <input type="text" class="form-control" formControlName = "customerLastName" placeholder="Last Name" disabled/>
                      </div>
             
                  </div>

                  <div class="card bg-secondary border-secondary">
                      <br>
                      <div class="container">
                          <div class="form-row">
                              <div class="form-group col-md-6" (change)="getCatValue(data)">
                                  <label for="Supplier_Id" >Catagory Name</label>
                                  <select class="form-control" #data formControlName=categoryName  [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }">
                                  <option *ngFor="let data of catName">{{data.cat_name}}</option>
                                </select>
                                <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
                                  <div *ngIf="f.categoryName.errors.required">Main Catagory is required</div>
                                </div>
                              </div>
                              <div class="form-group col-md-6" *ngIf="activecat" (change)="display(item)">
                                 
                                  <label for="Item"><b>Item</b></label>
                                  <select class="form-control" #item  formControlName=itemDetails  [ngClass]="{ 'is-invalid': submitted && f.itemDetails.errors }">
                                      <option *ngFor="let data of subcat">{{data.item_name}} </option>
                                  </select>
                                  <div *ngIf="submitted && f.itemDetails.errors" class="invalid-feedback">
                                      <div *ngIf="f.itemDetails.errors.required">Item Name is required</div>
                                    </div>
                              </div>
                              <div class="form-group col-md-6" *ngIf="!activecat">
                                 
                                  <label for="Supplier_Id">Item</label>
                                  <select class="form-control" disabled>
                                      <option>Choose Category</option>
                                  </select>
                              </div>
                          </div>
                          <div>
                          <div class="form-row">
                              <div class="row">
                                  <div class="form-group col-md-6">
                                      <label for="Supplier_name">Item Id</label>
                                      <input type="text" readonly  formControlName = "itemId" placeholder="Item Id" class="form-control" />
                                  </div>
                                  <div class="form-group col-md-3">
                                      <label for="Supplier_name">Item Name</label>
                                      <input type="text" readonly formControlName = "itemName" placeholder="Item Name" class="form-control" />
                                  </div>
                                  <div class="form-group col-md-2">
                                      <label for="Supplier_name">Available QTY</label>
                                      <input type="text" readonly formControlName="Avlqty" numbersOnly  placeholder="Avl Qty" class="form-control" />
                                  </div>
                                  <div class="form-group col-md-2" *ngIf="!activecat" >
                                     
                                      <input type="text" readonly formControlName="itemQty" placeholder="Qty" numbersOnly class="form-control" />
                                  </div>
                                  <div class="form-group col-md-2" *ngIf="activecat">
                                      
                                      <input type="text" class="form-control" numbersOnly formControlName="quantity" #currentQty  placeholder="Qty"
                                        [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }">
                                      <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                                        <div *ngIf="f.quantity.errors.required">Qty is required</div>
                                      </div>
                                    </div>           
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-3">
                                  <button type="button" class="btn btn-info" (click) = "dropDisplayValues()" ><i class="fa fa-plus"
                                          aria-hidden="true" ></i> &nbsp;Add</button>
                                  &nbsp;
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf ="alertdisplay" >
                    Make Sure to insert quantity value
                  </div>
                  <table class="table table-striped table-hover table-bordered table-sm" id="mytable">
                    <thead>
                      <tr>
                        <th style="text-align: center;" scope="col">Item Id</th>
                        <th  style="text-align: center;" scope="col">Item Name</th>
                        <th  style="text-align: center;" scope="col">Quantity</th>
                     <th  style="text-align: center;" scope="col">Price</th> 
                        <th  style="text-align: center;" scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
              
                      <tr formArrayName="credentials" *ngFor="let creds of salesOrderGroup.controls.credentials?.value;trackBy: onTrackById; let i = index">
              
                        <td style="text-align: center;"  [formGroupName]="i"><b>{{creds.itemId}}</b></td>
                        <td style="text-align: center;"  [formGroupName]="i"><b>{{creds.itemName}}</b></td>
                        <td style="text-align: center;"  [formGroupName]="i"><b>{{creds.qty}}</b></td>
                        <!-- <td style="text-align: center;"><b>Rs:{{data.buyingPrice}}</b></td> -->
                        <td style="text-align: center;" [formGroupName]="i">
                                      
                          <input type="text"  appTwoDigitDecimaNumber formControlName ="price" class="form-control" size="5" />
                        
                      </td>
                        <td style="text-align: center;"><button type="button" class="btn btn-danger btn-sm"  (click) = "deleteRowData(i)"><i class="fa fa fa-thumbs-down" aria-hidden="true"></i></button></td>
                        </tr>
              
                      
                    </tbody>
                  </table>
                  <br/>
                 
                        <div class="form-row">

                              <button type="submit" class="btn btn-success"><i class="fa fa-cogs" aria-hidden="true"></i> &nbsp;Generate Purcahse Order</button>
                              &nbsp;  <button type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> &nbsp;Cancel</button>
                      
                          </div>
                      





              </form>

          </div>
      </div>
  </div>



</div>
</div>