<div class="card mb-8">
  <div class="card-body table-responsive">
    <div class="col-md-12">
      <div class="card bg-light mb-2">
        <div class="card-header"><b>New Role Record</b></div>
        <div class="card-body">
            <form [formGroup] = "GroupRegisterForm" (ngSubmit) ="onSubmit()" >
              
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Group ID *</label>
                    <input type="text" class="form-control" formControlName = "groupId" placeholder="Group ID" [ngClass]="{ 'is-invalid': submitted && GroupF.groupId.errors }">
                    <div *ngIf="submitted && GroupF.groupId.errors" class="invalid-feedback">
                      <div *ngIf="GroupF.groupId.errors.required">Role ID is required</div>
                  </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Group Name</label>
                    <input type="text" class="form-control" formControlName = "GroupName" placeholder="Group Name"  [ngClass]="{ 'is-invalid': submitted && GroupF.GroupName.errors }">
                    <div *ngIf="submitted && GroupF.GroupName.errors" class="invalid-feedback">
                      <div *ngIf="GroupF.GroupName.errors.required">Group Name is required</div>
                  </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Description</label>
                  <textarea class="form-control" placeholder="Description" formControlName = "description" rows="3" [ngClass]="{ 'is-invalid': submitted && GroupF.description.errors }"></textarea>
                  <div *ngIf="submitted && GroupF.description.errors" class="invalid-feedback">
                    <div *ngIf="GroupF.description.errors.required">Description is required</div>
                </div>
                </div>
                   
         

                <button type="submit" class="btn btn-primary">Submit<i class="fa fa-book" aria-hidden="true"></i></button>
              </form>
        </div>
      </div>
    </div>



  </div>
</div>