
     <ng-template #template>
      <div class="modal-body text-center">
        <p>Do you want to Delete the Employee?</p>
        <button type="button" class="btn btn-danger" (click)="confirm()">
          Yes</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="decline()">
          No
        </button>
      </div>
    </ng-template>
    
    
    
          <div class="card mb-3">
              <div class="card-header"><p><b>Supplier</b>&nbsp; <button type="button"  [routerLink] = "['/new_sup']" class="btn btn-success  btn-sm">New &nbsp;<i class="fa fa-plus-square"></i></button></p>
              </div>  
              <div class="card-body table-responsive">              
                  <div class="row">
                    <div class="container">
                    <div class="row">
                        <div class = "col-md-9">
                      <h1>
                        <b>All Supplier Status</b>
                      </h1>
                    </div>
 
                    </div>
                      <hr/>
                      <br/>
                      <table class="table table-striped table-hover table-bordered" id="mytable">
                        <caption>
                          <b>View User Details</b>
                        </caption>
                        <thead>
                          <tr>
                            <th style="text-align: center;" scope="col">Supplier ID</th>
                            <th  style="text-align: center;" scope="col">Supplier Name</th>
                            <th  style="text-align: center;" scope="col">Email</th>
                            <th  style="text-align: center;" scope="col">Status</th>
                            <th  style="text-align: center;" scope="col">Contact No</th>
                            <th  style="text-align: center;" scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>                 
                          <tr *ngFor= "let data of supData">                
                            <td style="text-align: center;">{{data.sup_id}}</td>
                            <td style="text-align: center;">{{data.sup_firstName}}</td>
                            <td style="text-align: center;">{{data.sup_email}}</td>
                            <td style="text-align: center;">{{data.active}}</td>
                            <td style="text-align: center;">{{data.sup_phonenumber}}</td>
                            <td style="text-align: center;"><button type="button" (click)="routePage(data)" class= "btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button> &nbsp;
                              <button type="button" class= "btn btn-danger btn-sm" (click)="deleteSupplier(data)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>                      
                            </tr>
                  
                          
                        </tbody>
                      </table>

                        </div>
                  </div>
              </div>
          </div>